{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="auth-container">
        <h2 align="center">회원가입</h2>
        {% if form.errors %}
            <p>이메일, 이름, 비밀번호를 확인해주세요.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>이미 로그인됐습니다.</p>
            {% else %}
                <p>글을 작성하려면 로그인 해주세요.</p>
            {% endif %}
        {% endif %}

        <form method="POST" action="{% url 'authapp:signup' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_{{ form.email.name }}">{{ form.email.label }}</label>
                <input type="email" class="form-control" name="{{ form.email.name }}" id="id_{{ form.email.name }}">
            </div>
            <div class="form-group">
                <label for="id_{{ form.username.name }}">{{ form.username.label }}</label>
                <input type="text" class="form-control" name="{{ form.username.name }}" id="id_{{ form.username.name }}">
            </div>
            <div class="form-group">
                <label for="id_{{ form.password1.name }}">{{ form.password1.label }}</label>
                <input type="password" class="form-control" name="{{ form.password1.name }}" id="id_{{ form.password1.name }}">
            </div>
            <div class="form-group">
                <label for="id_{{ form.password2.name }}">{{ form.password2.label }}</label>
                <input type="password" class="form-control" name="{{ form.password2.name }}" id="id_{{ form.password2.name }}">
            </div>
            <input class="btn btn-default btn-lg btn-block" type="submit" value="회원가입">
            <input class="btn btn-default btn-lg btn-block" type="reset" value="취소">
        </form>
    </div>
{% endblock %}