<div class="markdownx">
    <div class="form-group">
        <label class="col-sm-1 control-label" for="id_body">
            본문
            <a class="helper-btn" target="_blank" href="https://namu.wiki/w/%EB%A7%88%ED%81%AC%EB%8B%A4%EC%9A%B4">Help !</a>
        </label>
        <div class="col-sm-10">
            {{ markdownx_editor }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">
            미리보기
        </label>
        <div class="col-sm-10">
            <div class="markdownx-preview"></div>
        </div>
    </div>
{#    <div class="col-md-6">#}
{#        #}
{#    </div>#}
{#    <div class="col-md-6">#}
{#    </div>#}
</div>